<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/kiona-logo.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->


    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <title>Kiona</title>
</head>

<body>
    <section class="form-07">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="_form_07_main">
                        <form action="" class="login-form" method="post" id="form" enctype="multipart/form-data" onsubmit="check(); return false">
                            <div class="row">
                                <div class="col-sm-6 ncv-kl-bn">
                                    <div class="_form_07_main_sub_01">
                                        <div class="form-07-head">
                                            <h2>Kiona</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                                        </div>
                                        <div class="form-7-social-media">
                                            <ol>
                                                <li><i class="fa fa-facebook"></i></li>
                                                <li><i class="fa fa-twitter"></i></li>
                                                <li><i class="fa fa-youtube"></i></li>
                                                <li><i class="fa fa-linkedin"></i></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 cv-kl-bn">
                                    <div class="_pl_nb_df">
                                        <div class="_bg_cs">
                                            <h2>Registration Account</h2>
                                        </div>
    
                                        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" required aria-required="true">
                                        <p id="nameErr" style="color: red;"></p>
    
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email" required aria-required="true">
                                        <p id="emailErr" style="color: red;"></p>
    
                                        <input type="text" name="mobile" id="mobile" class="form-control" placeholder="Enter Mobile" required aria-required="true">
                                        <p id="mobileErr" style="color: red;"></p>
    
                                        <input type="file" name="image" id="image" class="form-control" placeholder="Upload Image" required aria-required="true">
                                        <p id="imageErr" style="color: red;"></p>
    
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" required aria-required="true">
                                        <p id="passwordErr" style="color: red;"></p>
    
                                        <button type="submit" class="_btn_04">Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <% if (typeof message !== 'undefined') { %>
                            <p><%= message %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        // form Validation

        document.getElementById('form').addEventListener('submit', (event) => {
            event.preventDefault();
            check();
        });

        async function check() {
            const form = document.querySelector(".login-form");
            const name = document.getElementById("name").value.trim();
            const nameErr = document.getElementById("nameErr");
            const email = document.getElementById("email").value.trim();
            const emailErr = document.getElementById("emailErr");
            const mobile = document.getElementById("mobile").value.trim();
            const mobileErr = document.getElementById("mobileErr");
            const image = document.getElementById("image").files.length;
            const imageErr = document.getElementById("imageErr");
            const password = document.getElementById("password").value.trim();
            const passwordErr = document.getElementById("passwordErr");

            let isValid = true;

            // Reset error messages
            nameErr.textContent = '';
            emailErr.textContent = '';
            mobileErr.textContent = '';
            imageErr.textContent = '';
            passwordErr.textContent = '';

            if (name === '') {
                nameErr.textContent = "Please enter your name.";
                isValid = false;
            } else {
                const nameRegex = /^[a-zA-Z\s]*$/;
                if (!nameRegex.test(name)) {
                    nameErr.textContent = "Please enter a valid name.";
                    isValid = false;
                }
            }

            if (email === '') {
                emailErr.textContent = "Please enter your email.";
                isValid = false;
            } else {
                const emailRegex = /^[^!#$%&'*+/=?^_`{|}~]+@gmail\.com$/i;
                if (!emailRegex.test(email)) {
                    emailErr.textContent = "Please enter a valid email ID.";
                    isValid = false;
                }
            }

            if (mobile === '') {
                mobileErr.textContent = "Please enter your mobile number.";
                isValid = false;
            } else {
                const mobileRegex = /^(?!([0-9])\1{9})[1-9]\d{9}$/;
                if (!mobileRegex.test(mobile)) {
                    mobileErr.textContent = "Please enter a valid mobile number.";
                    isValid = false;
                }
            }

            if (!image) {
                imageErr.textContent = "Please select an image.";
                isValid = false;
            }

            if (password === '') {
                passwordErr.textContent = "Please enter your password.";
                isValid = false;
            } else {
                const passwordRegex = [
                    { regex: /.{8,}/, message: "At least 8 characters" },
                    { regex: /\d/, message: "At least 1 digit" },
                    { regex: /[a-z]/, message: "At least 1 lowercase letter" },
                    { regex: /[!@#$%^&*]/, message: "At least 1 special character" },
                    { regex: /[A-Z]/, message: "At least 1 uppercase letter" }
                ];

                passwordRegex.forEach((rule) => {
                    if (!rule.regex.test(password)) {
                        passwordErr.textContent += rule.message + '\n';
                        isValid = false;
                    }
                });
            }

            if (isValid) {
                const formElement = document.getElementById('form');
                const formData = new FormData(formElement);

                try {
                    const response = await axios.post('/register', formData);
                    if (response.data.success) {
                        window.location.href = '/otp'
                    } else {
                        emailErr.textContent = response.data.message;
                    }
                } catch (error) {
                    console.error('Submission error:', error.message);
                }
            }
        }
    </script>

    <%- include('../layouts/footer.ejs') %>
</body>

</html>