<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/kiona-logo.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->


    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <title>Kiona</title>
</head>

<body>
    <section class="form-07">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="_form_07_main">
                        <form action="" class="login-form" method="post" enctype="multipart/form-data" onsubmit="check(); return false">
                            <div class="row">
                                <div class="col-sm-6 ncv-kl-bn">
                                    <div class="_form_07_main_sub_01">
                                        <div class="form-07-head">
                                            <h2>Kiona</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy</p>
                                        </div>
                                        <div class="form-7-social-media">
                                            <ol>
                                                <li><i class="fa fa-facebook"></i></li>
                                                <li><i class="fa fa-twitter"></i></li>

                                                <li><i class="fa fa-youtube"></i></li>
                                                <li><i class="fa fa-linkedin"></i></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 cv-kl-bn">
                                    <div class="_pl_nb_df">
                                        <div class="_bg_cs">
                                            <h2>Registration Account</h2>
                                        </div>
                                        <div class="form-group">
                                            <label>Enter Your Name</label>
                                            <input type="text" name="name" id="name" class="form-control" type="text"
                                                placeholder="Enter Name" required="" aria-required="true">
                                                <p style="color: red;" id="nameErr"></p>
                                        </div>

                                        <div class="form-group">
                                            <label>Enter Your Email</label>
                                            <input type="email" name="email" id="email" class="form-control" type="text"
                                                placeholder="Enter Email" required="" aria-required="true">
                                                <p style="color: red;" id="emailErr"></p>
                                        </div>

                                        <div class="form-group">
                                            <label>Enter Your Mobile</label>
                                            <input type="text" name="mobile" id="mobile" class="form-control" type="text"
                                                placeholder="Enter Mobile" required="" aria-required="true">
                                                <p style="color: red;" id="mobileErr"></p>
                                        </div>

                                        <div class="form-group">
                                            <label>Upload your profile photo</label>
                                            <input type="file" name="image" id="image" class="form-control" type="text"
                                                placeholder="Upload Image" required="" aria-required="true">
                                                <p style="color: red;" id="imageErr"></p>
                                        </div>

                                        <div class="form-group">
                                            <label>Enter your Password</label>
                                            <input type="password" name="password" id="password" class="form-control" type="text"
                                                placeholder="Enter password" required="" aria-required="true">
                                                <p style="color: red;" id="passwordErr"></p>
                                        </div>

                                        <div class="checkbox form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="">
                                                <label class="form-check-label" for="">
                                                    Remember me
                                                </label>
                                            </div>
                                            <a href="#">Forgot Password</a>
                                        </div>

                                        <div class="form-group">
                                            <div class="_btn_04">
                                                <button type="submit" class="form-control">Register</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <%
                        if(typeof message !== 'undefined'){
                            %>
                            <p><%= message %></p>
                            <%
                        }
                        %>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



    <script>

        // form Validation

        function check(){
            const form  = document.querySelector(".login-form");
            const name = document.getElementById("name").value.trim();
            const nameErr = document.getElementById("nameErr");
            const email = document.getElementById("email").value.trim();
            const emailErr = document.getElementById("emailErr");
            const mobile = document.getElementById("mobile").value.trim();
            const mobileErr = document.getElementById("mobileErr");
            const image = document.getElementById("image").files.length;
            const imageErr = document.getElementById("imageErr");
            const password = document.getElementById("password").value.trim();
            const passwordErr = document.getElementById("passwordErr");

            const nameErrMsg = []
            const emailErrMsg = []
            const mobileErrMsg = []
            const imageErrMsg = []
            const passwordErrMsg = []

            if(name === ''){
                nameErrMsg.push("Please enter Your Name.")
            }else{
                const nameRegex = /^[a-zA-Z\s]*$/;
                if(!nameRegex.test(name)){
                    nameErrMsg.push("Please enter valid name");
                }
            }
            
            if(email === ''){
                emailErrMsg.push("Please enter Your Email.");
            }else{
                const emailRegex = /^[^!#$%&'*+/=?^_`{|}~]+@gmail\.com$/i;
                if(!emailRegex.test(email)){
                    emailErrMsg.push("Please enter Your Valid Email Id.")
                }
            }

            if(mobile == ''){
                mobileErrMsg.push("Please enter Your Mobile.");
            }else{
                mobileRegex = /^(?!([0-9])\1{9})[1-9]\d{9}$/;
                if(!mobileRegex.test(mobile)){
                    mobileErrMsg.push("Please enter Your Valid Mobile Number.")
                }
            }

            if(!image){
                imageErrMsg.push("Please Select an Image")
            }

            if(password == ''){
                passwordErrMsg.push("Please enter Your Password")
            }else{
                const passwordRegex = [
                    { regex: /.{8,}/, index: 0, message: "At least 8 character" },
                    { regex: /\d/, index: 1, message: "At least 1 digits" },
                    { regex:/[a-z]/, index: 2, message: "At least 1 lowercase letter" },
                    { regex:/[!@#$%^&*]/, index: 3, message: "At least 1 special character" },
                    { regex:/[A-Z]/, index: 4, message: "At least 1 uppercase letter" }
                ];

                passwordRegex.forEach((rule)=>{
                    if(!rule.regex.test(password)){
                        passwordErrMsg.push(rule.message)
                    }
                })

            }

            // display Error Message
            nameErr.innerHTML = nameErrMsg.join("<br>");
            emailErr.innerHTML = emailErrMsg.join("<br>");
            mobileErr.innerHTML = mobileErrMsg.join("<br>");
            imageErr.innerHTML = imageErrMsg.join("<br>");
            passwordErr.innerHTML = passwordErrMsg.join("<br>");

            // submit the form if all validations pass
            if(nameErrMsg.length === 0 && emailErrMsg.length === 0 && mobileErrMsg.length === 0 && imageErrMsg.length === 0 && passwordErrMsg.length === 0){
                form.submit();
            }
        }
    </script>


    // <script>

    //     // form Validation

    //     function check(){
    //         const form  = document.querySelector(".login-form");
    //         const name = document.getElementById("name").value.trim();
    //         const nameErr = document.getElementById("nameErr");
    //         const email = document.getElementById("email").value.trim();
    //         const emailErr = document.getElementById("emailErr");
    //         const mobile = document.getElementById("mobile").value.trim();
    //         const mobileErr = document.getElementById("mobileErr");
    //         const image = document.getElementById("image").files.length;
    //         const imageErr = document.getElementById("imageErr");
    //         const password = document.getElementById("password").value.trim();
    //         const passwordErr = document.gerElementById("passwordErr");

    //         const nameErrMsg = []
    //         const emailErrMsg = []
    //         const mobileErrMsg = []
    //         const imageErrMsg = []
    //         const passwordErrMsg = []

    //         if(name === ''){
    //             nameErrMsg.push("Please enter Your Name.")
    //         }else{
    //             const nameRegex = /^[a-zA-Z\s]*$/;
    //             if(!nameRegex.test(name)){
    //                 nameErrMsg.push("Please enter valid name");
    //             }
    //         }
            
    //         if(email === ''){
    //             emailErrMsg.push("Please enter Your Email.");
    //         }else{
    //             const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    //             if(!emailRegex.test(email)){
    //                 emailErrMsg.push("Please enter Your Valid Email Id.")
    //             }
    //         }

    //         if(mobile == ''){
    //             mobileErrMsg.push("Please enter Your Mobile.");
    //         }else{
    //             mobileRegex = /^(?!([0-9])\1{9})[1-9]\d{9}$/;
    //             if(!mobileRegexMsg.test(mobile)){
    //                 mobileErrMsg.push("Please enter Your Valid Mobile Number.")
    //             }
    //         }

    //         if(!image){
    //             imageErrMsg.push("Please Select an Image")
    //         }

    //         if(password == ''){
    //             passwordErrMsg.push("Please enter Your Password")
    //         }else{
    //             const passwordRegex = [
    //                 { regex: /.{8,}/, index: 0, message: "At least 8 character" },
    //                 { regex: /\d/, index: 1, message: "At least 1 digits" },
    //                 { regex:/[a-z]/, index: 2, message: "At least 1 lowercase letter" },
    //                 { regex:/[!@#$%^&*]/, index: 3, message: "At least 1 special character" },
    //                 { regex:/[A-Z]/, index: 4, message: "At least 1 uppercasse letter" }
    //             ];

    //             passwordRegex.forEach((rule)=>{
    //                 if(!rule.regex.test(password)){
    //                     passwordErrMsg.push(rule.message)
    //                 }
    //             })

    //         }

    //     }

    //     // display Error Message
    //     nameErr.innerHTML = nameErrMsg.join("<br>");
    //     emailErr.innerHTML = emailErrMsg.join("<br>");
    //     mobileErr.innerHTML = mobileErrMsg.join("<br>");
    //     imageErr.innerHTML = imageErrMsg.join("<br>");
    //     passwordErr.innerHTML = passwordErrMsg.join("<br>");

    //     // submit the all validation pass
    //     if(nameErrMsg.length === 0 && emailErrMsg.length === 0 && mobileErrMsg === 0 && imageErrMsg.length === 0 && passwordErrMsg.length === 0){
    //         form.submit();
    //     }

    // </script>







    <%- include('../layouts/footer.ejs') %>
</body>

</html>